<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdFMDc7RcDVufQAPHi9fsbNAFB20YPUdY</string>
	<key>GCM_SENDER_ID</key>
	<string>1026193018136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proje1</string>
	<key>PROJECT_ID</key>
	<string>matchmeow-aebe7</string>
	<key>STORAGE_BUCKET</key>
	<string>matchmeow-aebe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026193018136:ios:a1b6c316701d5cdb0da26d</string>
	<key>DATABASE_URL</key>
	<string>https://matchmeow-aebe7-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>